.estatisticas {
  display: flex;
  flex-wrap: wrap;
  padding: 24px;
  .estatistica {
    width: 320px;
    padding: 12px;
    margin-left: 24px;
    margin-bottom: 24px;
    background: #fff1;
    h3 {
      margin-bottom: 12px;
    }
  }
}

.tabelaItens {
  width: 100%;

  .tabelaItensHeader {
    th {
      text-align: start;
      padding: 18px 12px;
    }
  }

  .tabelaItensCorpo {
    .tabelalinhaItem {
      transition: 0.2s ease;

      td {
        padding: 18px 12px;
        border-bottom: 1px solid #fff1;
        button {
          color: #fff;
          padding: 0 15px;
          background: none;
        }
        select {
          padding: 8px 15px;
          background: #fff2;
        }

        /* Chrome, Safari, Edge, Opera */
        input::-webkit-outer-spin-button,
        input::-webkit-inner-spin-button {
          -webkit-appearance: none;
          margin: 0;
        }

        /* Firefox */
        input[type='number'] {
          -moz-appearance: textfield;
        }
        input[type='checkbox'] {
          display: none;
        }
        label {
          width: 48px;
          height: 24px;
          display: flex;
          justify-content: flex-start;
          background: #fff1;
          border-radius: 24px;
          transition: 1s ease;
          .chave {
            width: 24px;
            height: 24px;
            background: #fff;
            border-radius: 50%;
          }
          &.ativo {
            justify-content: flex-end;
            background: #0f05;
            transition: 1s ease;
          }
        }
        button {
          cursor: pointer;
          &:hover {
            svg {
              path {
                stroke: #fff;
                transition: 0.4s ease;
              }
            }
          }
        }
        svg {
          width: 36px;
          padding: 6px;
          path {
            stroke: #fff5;
            transition: 0.2s ease;
          }
        }
      }

      &:hover {
        background: #ffffff05;
        transition: 0.4s ease;
      }
      &:last-child {
        td {
          border-bottom: none;
        }
      }
    }
  }
}

.paginacao {
  margin: 48px 0;
  .controle {
    background: green;
    pagination-template {
      .ngx-pagination {
        .pagination-previous {
        }
        li {
          a {
            span {
              color: #fff;
            }
          }
        }
        li::before,
        li::after {
          content: '';
        }
      }
    }
  }
}
