<div *ngIf="loading">Carregando...</div>
<div *ngIf="error">Erro :(</div>
<div *ngIf="imovel">
  <p>ID do imóvel: {{ imovel._id }}</p>
  <p>Categoria: {{ imovel.categoriaImovel }}</p>
  <p>É Jardins™: {{ imovel.jardins }}</p>
  <p>Descrição: {{ imovel.descricaoImovel }}</p>
  <p>Tipo de Negociação: {{ imovel.tipoNegociacao }}</p>
  <p>Status do Imóvel: {{ imovel.statusImovel }}</p>
  <p>Aceita permuta?: {{ imovel.aceitaPermuta }}</p>
  <p>Já está mobiliado?: {{ imovel.mobiliado }}</p>
  <p>Valor do imóvel: {{ imovel.valorImovel | currency: "BRL" }}</p>
  <p>Valor do IPTU: {{ imovel.valorIPTU | currency: "BRL" }}</p>
  <p>Valor do condomínio: {{ imovel.valorCondominio | currency: "BRL" }}</p>
  <p>Área total: {{ imovel.areaTotal }}m²</p>
  <p>Área construída: {{ imovel.areaConstruida }}m²</p>
  <p>Andar do imóvel: {{ imovel.andarImovel }}</p>
  <p>Quantidade de quartos: {{ imovel.qtdeQuarto }}</p>
  <p>Quantidade de banheiros: {{ imovel.qtdeBanheiro }}</p>
  <p>Quantidade de suítes: {{ imovel.qtdeSuites }}</p>
  <p>Quantidade de vagas: {{ imovel.qtdeVagas }}</p>
  <p>Construtora: {{ imovel.nomeConstrutora }}</p>
  <p>
    Endereço: {{ imovel.logradouro }}, {{ imovel.numeroLogradouro }} —
    {{ imovel.complemento }}
  </p>
  <p>Bairro: {{ imovel.bairro }}</p>
  <p>CEP: {{ imovel.cep }}</p>
  <p>Cidade: {{ imovel.cidade }}, UF: {{ imovel.uf }}</p>
  <p>Comodidades do imóvel: {{ imovel.comodidadesImovel }}</p>
  <p>Comodidades do condomínio: {{ imovel.comodidadesCondominio }}</p>
  <p>Postado em: {{ imovel.createdAt | date }}</p>
  <p>Última atualização em: {{ imovel.updatedAt | date }}</p>
</div>
