.infoConteudoAdmin {
  background: none;
  backdrop-filter: 0;
  box-shadow: none !important;
}

.formulario {
  form {
    .definicaoImovel {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .categoriaImovel {
        width: 70%;
      }

      .Jardins {
        height: fit-content;
        display: flex;
        align-items: flex-end;
        margin: 6px;
        padding-right: 0;
      }
    }

    .permutaEmobiliado {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }

    .infoCondominio {
      display: flex;
      flex-wrap: wrap;
      margin: 48px 0 24px;

      .nomeImovel {
        width: 48%;
        margin-right: 2%;
      }

      .nomeConstrutora {
        width: 48%;
        margin-left: 2%;
      }
    }

    .numeros,
    .endereco {
      display: flex;
      flex-wrap: wrap;
      margin: 48px 0 24px;

      > div {
        width: calc(90% / 3);
        margin: 0 calc(5% / 3);
      }

      > div:nth-child(3n + 1) {
        margin-left: 0;
      }
    }
    .comodidades {
      display: flex;

      .comodidadesImovel,
      .comodidadesCondominio {
        width: 100%;
        textarea {
          min-height: 150px !important;
        }
      }

      .comodidadesCondominio {
        margin-left: 24px;
      }
    }

    .galerias {
      width: 100%;

      .galeria:first-child {
        border-top: none;
      }

      .galeria {
        padding-top: 24px;
        margin-bottom: 24px;
        border-top: 1px solid #fff5;

        .tipoGaleria {
          display: flex;
          margin-bottom: 12px;

          button {
            width: 216px;
            padding: 6px;
            margin-left: 24px;
            background: #000;
          }
        }

        .upImagensGaleria {
          display: flex;
          margin-bottom: 12px;

          button {
            width: 144px;
            padding: 6px ;
            margin-left: 24px;
            background: #db0423;
          }
        }
      }
      .botaoGalerias {
        display: flex;
        align-items: center;
        margin: 12px auto 0;
        background: none !important;

        p {
          margin-left: 12px;
        }

        svg {
          width: 36px;
        }
      }
    }

    .tipologias {
      width: 100%;

      .tipologia:first-child {
        border-top: none;
      }

      .tipologia {
        padding-top: 24px;
        margin-bottom: 24px;
        border-top: 1px solid #fff5;

        .infoTipologia {
          width: 100%;
          display: flex;
          flex-wrap: wrap;

          > div {
            width: calc(90% / 3);
            margin: 0 calc(5% / 3) 12px;

            button {
              background: none;
              padding: 6px;
            }
          }

          > div:nth-child(3n + 1) {
            margin-left: 0;
          }
        }
      }
      .botaoTipologia {
        display: flex;
        align-items: center;
        margin: 12px auto 0;
        background: none !important;

        p {
          margin-left: 12px;
        }

        svg {
          width: 36px;
        }
      }
    }

    .botoes {
      display: flex;
      justify-content: flex-end;

      .limpar {
        background: #0005 !important;
        margin-right: 24px;
      }
    }

    .coluna {
      &.esquerda {
        background: inherit;
        backdrop-filter: blur(10px);
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.01), 0 0 50px rgba(0, 0, 0, 0.2);
      }
      &.direita {
        background: inherit;
        backdrop-filter: blur(10px);
        box-shadow: inset 0 0 0 1000px rgba(255, 255, 255, 0.01), 0 0 50px rgba(0, 0, 0, 0.05);
      }
    }
  }
}
