.formulario {
  form {
    .definicaoImovel {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .categoriaImovel {
        width: 70%;
      }

      .Jardins {
        height: fit-content;
        display: flex;
        align-items: flex-end;
        margin: 6px;
        padding-right: 0;
      }
    }

    .permutaEmobiliado {
      width: 100%;
      display: flex;
      justify-content: space-around;
    }
  }
}
