.toolbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: fixed;
  padding: 20px;
  color: #fff;
  font-weight: 600;

  .linksToolbar {

    > * {
      margin: 0 15px;
    }
  }

  a {
    color: #fff;
  }

}

