<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">
      <a [routerLink]="['/admin/criar-imovel']" routerLinkActive="router-link-active">
        Criar Imovel
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </a>
    </div>
  </div>
  <div class="infoConteudoAdmin">
    <div class="formulario">
      <form [formGroup]="imovelForm" (ngSubmit)="onSubmit()">
        <div class="coluna esquerdo">
          <div class="form-campo">
            <label for="descricaoImovel"
              >Descrição do Imóvel: <strong style="color: red">*</strong></label
            >
            <textarea
              name="descricaoImovel"
              cols="40"
              rows="10"
              formControlName="descricaoImovel"
              placeholder="Linda e ampla casa para morar com sua família"
            ></textarea>
            <div
              *ngIf="getControl.descricaoImovel.touched && getControl.descricaoImovel.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.descricaoImovel.errors?.required">Descrição é obrigatória</div>
            </div>
          </div>
          <div class="form-campo">
            <label for="areaTotal"
              >Área total do imovel: <strong style="color: red">*</strong></label
            >
            <input
              type="number"
              onmousewheel="return false;"
              name="areaTotal"
              placeholder="332,56 m²"
              formControlName="areaTotal"
            />
            <div
              *ngIf="getControl.areaTotal.touched && getControl.areaTotal.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.areaTotal.errors?.required">Área total é obrigatória</div>
              <div *ngIf="getControl.areaTotal.errors?.required">Campo obrigatório</div>
              <div *ngIf="getControl.areaTotal.errors?.min">
                A Área total do imóvel não pode ser menor que 0
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="areaConstruida"
              >Área construída: <strong style="color: red">*</strong></label
            >
            <input
              type="number"
              onmousewheel="return false;"
              name="areaConstruida"
              formControlName="areaConstruida"
              placeholder="230,56 m²"
            />
            <div
              *ngIf="getControl.areaConstruida.touched && getControl.areaConstruida.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.areaConstruida.errors?.min">
                A Área construída do imóvel não pode ser menor que 0
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="andarImovel">Andar do imóvel (se for imóvel vertical): </label>
            <input
              type="number"
              onmousewheel="return false;"
              name="andarImovel"
              formControlName="andarImovel"
              placeholder="0"
            />
            <div
              *ngIf="getControl.andarImovel.touched && getControl.andarImovel.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.andarImovel.errors?.min">
                O Andar do imóvel não pode ser menor do que 0. Se for casa, deixe 0.
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="qtdeQuarto"
              >Quantidade de quartos: <strong style="color: red">*</strong></label
            >
            <input
              type="number"
              onmousewheel="return false;"
              name="qtdeQuarto"
              formControlName="qtdeQuarto"
              placeholder="3"
            />
            <div
              *ngIf="getControl.qtdeQuarto.touched && getControl.qtdeQuarto.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.qtdeQuarto.errors?.min">
                A quantidade de quarto(s) não pode ser menor do que 0. Se for casa, deixe 0.
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="qtdeBanheiro"
              >Quantidade de banheiros: <strong style="color: red">*</strong></label
            >
            <input
              type="number"
              onmousewheel="return false;"
              name="qtdeBanheiro"
              formControlName="qtdeBanheiro"
              placeholder="2"
            />
            <div
              *ngIf="getControl.qtdeBanheiro.touched && getControl.qtdeBanheiro.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.qtdeBanheiro.errors?.min">
                A quantidade de banheiro(s) não pode ser menor do que 0. Se for casa, deixe 0.
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="qtdeSuites">Quantidade de suítes: </label>
            <input
              type="number"
              onmousewheel="return false;"
              name="qtdeSuites"
              formControlName="qtdeSuites"
              placeholder="1"
            />
            <div
              *ngIf="getControl.qtdeSuites.touched && getControl.qtdeSuites.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.qtdeSuites.errors?.min">
                A quantidade de suíte(s) não pode ser menor do que 0. Se for casa, deixe 0.
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="qtdeVagas">Quantidade de vagas: </label>
            <input
              type="number"
              onmousewheel="return false;"
              name="qtdeVagas"
              formControlName="qtdeVagas"
              placeholder="1"
            />
            <div
              *ngIf="getControl.qtdeVagas.touched && getControl.qtdeVagas.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.qtdeVagas.errors?.min">
                A quantidade de vaga(s) não pode ser menor do que 0. Se for casa, deixe 0.
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="nomeConstrutora">Construtora: <strong style="color: red">*</strong></label>
            <input
              type="text"
              name="nomeConstrutora"
              formControlName="nomeConstrutora"
              placeholder="FGR Construtora"
            />
            <div
              *ngIf="getControl.nomeConstrutora.touched && getControl.nomeConstrutora.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.nomeConstrutora.errors?.required">
                Nome da construtora é obrigatório
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="cep">CEP: <strong style="color: red">*</strong></label>
            <input
              type="text"
              onmousewheel="return false;"
              name="cep"
              formControlName="cep"
              placeholder="74000-000"
              [mask]="this.maskCep"
            />
            <div *ngIf="getControl.cep.touched && getControl.cep.invalid" class="text-danger">
              <div *ngIf="getControl.cep.errors?.required">Obrigatório inserir CEP</div>
              <div *ngIf="getControl.cep.errors?.min">
                CEP inválido, está faltando número. Menor CEP válido: 01001-000
              </div>
              <div *ngIf="getControl.cep.errors?.max">
                CEP inválido, composição maior que 8 dígitos
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="logradouro">Endereço: <strong style="color: red">*</strong></label>
            <input
              type="text"
              name="logradouro"
              formControlName="logradouro"
              placeholder="Avenida dos Tupinambás"
            />
            <div
              *ngIf="getControl.logradouro.touched && getControl.logradouro.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.logradouro.errors?.required">Campo obrigatório</div>
            </div>
          </div>
          <div class="form-campo">
            <label for="numeroLogradouro">Número: </label>
            <input
              type="text"
              name="numeroLogradouro"
              formControlName="numeroLogradouro"
              placeholder="456"
            />
            <div
              *ngIf="getControl.numeroLogradouro.touched && getControl.numeroLogradouro.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.numeroLogradouro.errors?.min">
                É obrigatório que tenha um número, e é obrigatório que não seja menor que 0. Se caso
                não tiver número, deixe apenas o 0(zero);
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="complemento">Complemento: </label>
            <input
              type="text"
              name="complemento"
              formControlName="complemento"
              placeholder="Quadra 17, Lote 13"
            />
          </div>
          <div class="form-campo">
            <label for="bairro">Bairro/Setor: <strong style="color: red">*</strong></label>
            <input
              type="text"
              name="bairro"
              formControlName="bairro"
              placeholder="Bairro Tesouro Perdido"
            />
            <div *ngIf="getControl.bairro.touched && getControl.bairro.invalid" class="text-danger">
              <div *ngIf="getControl.bairro.errors?.required">Campo obrigatório</div>
            </div>
          </div>
          <div class="form-campo">
            <label for="cidade">Cidade: <strong style="color: red">*</strong></label>
            <input type="text" name="cidade" formControlName="cidade" placeholder="Goiânia" />
            <div *ngIf="getControl.cidade.touched && getControl.cidade.invalid" class="text-danger">
              <div *ngIf="getControl.cidade.errors?.required">Campo obrigatório</div>
            </div>
          </div>
          <div class="form-campo">
            <label for="uf">Estado: <strong style="color: red">*</strong></label>
            <input type="text" name="uf" formControlName="uf" placeholder="GO" value="" required />
            <div *ngIf="getControl.uf.touched && getControl.uf.invalid" class="text-danger">
              <div *ngIf="getControl.uf.errors?.required">Campo obrigatório</div>
            </div>
          </div>
          <div class="form-campo">
            <label for="comodidadesImovel">Comodidades do imóvel: </label>
            <textarea
              cols="20"
              rows="10"
              type="text"
              name="comodidadesImovel"
              formControlName="comodidadesImovel"
              placeholder="Churrasqueira, Psincina, Quintal Amplo, Casinha pro cachorro"
            ></textarea>
          </div>
          <div class="form-campo">
            <label for="comodidadesCondominio">Comodidades do condomínio: </label>
            <textarea
              cols="20"
              rows="10"
              type="text"
              name="comodidadesCondominio"
              formControlName="comodidadesCondominio"
              placeholder="Segurança 24 horas, Posto de emergência privado"
            ></textarea>
          </div>
        </div>
        <div class="coluna direito">
          <div class="form-campo">
            <label for="imagemPrincipal"
              >Imagem Principal: <strong style="color: red">*</strong></label
            >
            <div>
              <input type="file" (change)="selectFiles($event)" />
              <img [src]="imgPreview" width="300px" *ngIf="imgPreview" />
            </div>
            <div>
              <button type="button" class="" [disabled]="!selectedFiles" (click)="uploadFiles()">
                Upload
              </button>
            </div>
            <div *ngFor="let progressInfo of progressInfos">
              <span>{{ progressInfo.fileName }}</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progressInfo.value }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progressInfo.value + '%' }"
                >
                  {{ progressInfo.value }}%
                </div>
              </div>
            </div>
            <div *ngIf="mainImg">
              <img src="{{ mainImg }}" alt="" width="300px" srcset="{{mainImg}}" />
              <button type="button" (click)="deletaImgPrincipal(mainImg)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
          <div class="form-campo">
            <label for="nomeImovel">Nome do Imóvel: <strong style="color: red">*</strong></label>
            <input type="text" name="nomeImovel" formControlName="nomeImovel" placeholder="" />
            <div
              *ngIf="getControl.nomeImovel.touched && getControl.nomeImovel.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.nomeImovel.errors?.required">Campo obrigatório</div>
            </div>
          </div>
          <div class="form-campo">
            <label for="categoriaImovel"
              >Categoria do Imóvel: <strong style="color: red">*</strong></label
            >
            <select name="categoriaImovel" formControlName="categoriaImovel">
              <option value="">Selecione...</option>
              <option value="Sala Comercial">Sala Comercial</option>
              <option value="Área Comercial">Área Comercial</option>
              <option value="Cobertura">Cobertura</option>
              <option value="Apartamento Padrão">Apartamento Padrão</option>
              <option value="Chácaras">Chácaras</option>
              <option value="Casa Residencial">Casa Residencial</option>
              <option value="Lote urbano">Lote urbano</option>
              <option value="Casa em Condomínio">Casa em Condomínio</option>
              <option value="Lote em Condomínio">Lote em Condomínio</option>
            </select>
            <div
              *ngIf="getControl.categoriaImovel.touched && getControl.categoriaImovel.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.categoriaImovel.errors?.required">Campo obrigatório</div>
            </div>
          </div>

          <div class="form-campo">
            <label for="jardins">É um empreendimento Jardins? </label>
            <input type="checkbox" name="jardins" formControlName="jardins" />
          </div>

          <div
            class="form-campo"
            *ngIf="
              getControl.categoriaImovel.value === 'Lote em Condomínio' && getControl.jardins.value
            "
          >
            <label for="imgPlantaCondominio"
              >Adicionar planta: <strong style="color: red">*</strong></label
            >
            <div>
              <input type="file" (change)="selectFilesPlantaFiles($event)" />
            </div>
            <div>
              <button
                type="button"
                [disabled]="!selectedPlantaFiles"
                (click)="uploadFilesPlantaFiles()"
              >
                Upload
              </button>
            </div>
            <div *ngFor="let progressInfo of progressInfosPlantaFiles">
              <span>{{ progressInfo.fileName }}</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progressInfo.value }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progressInfo.value + '%' }"
                >
                  {{ progressInfo.value }}%
                </div>
              </div>
            </div>
            <div *ngFor="let img of plantaFiles">
              <img src="{{ img }}" width="300px" srcset="{{img}}" />
              <button type="button" (click)="deletaImagensAdicionais(img)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>

          <div class="form-campo">
            <label for="tipoNegociacao"
              >Tipo de Negociação: <strong style="color: red">*</strong></label
            >
            <select name="tipoNegociacao" formControlName="tipoNegociacao">
              <option value="">Selecione...</option>
              <option value="Alugar">Para Alugar</option>
              <option value="Venda">Para Vender</option>
              <option value="Lançamento">Lançamento Imobiliário</option>
            </select>
            <div
              *ngIf="getControl.tipoNegociacao.touched && getControl.tipoNegociacao.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.tipoNegociacao.errors?.required">Campo obrigatório</div>
            </div>
          </div>

          <div class="form-campo">
            <label for="previsaoLancamento">Previsão do lançamento</label>
            <input
              type="date"
              name="previsaoLancamento"
              formControlName="previsaoLancamento"
              [value]="this.converteData(imovelForm.value.previsaoLancamento)"
            />
          </div>

          <!-------------------------------------------------------
          ---- Tipologias ---------------------------------------
          --------------------------------------------------------->

          <div
            class="form-campo"
            *ngIf="
              getControl.tipoNegociacao.value === 'Lançamento' ||
              imovelForm.value.tipologias.length > 0
            "
          >
            <div
              *ngIf="getControl.tipologias.touched && getControl.tipologias.invalid"
              class="text-danger"
            ></div>
            <label for="tipologias">Tipologias <b>*</b></label>
            <div
              formArrayName="tipologias"
              *ngFor="let tipologia of tipologias.controls; index as idx"
            >
              <label>Tipologia {{ idx + 1 }}</label>
              <div type="text" [formGroupName]="idx">
                <label for="quartos">Quartos: <b>*</b></label>
                <input
                  type="number"
                  onmousewheel="return false;"
                  name="quartos"
                  formControlName="quartos"
                  placeholder="3"
                />
                <label for="suites">Suítes: <b>*</b></label>
                <input
                  type="number"
                  onmousewheel="return false;"
                  name="suites"
                  formControlName="suites"
                  placeholder="3"
                />
                <label for="tamanho">Tamanho: <b>*</b></label>
                <input
                  type="number"
                  onmousewheel="return false;"
                  name="tamanho"
                  placeholder="332,56 m²"
                  formControlName="tamanho"
                />
                <label for="valorEntrada">Valor de Entrada: <b>*</b></label>
                <input
                  type="number"
                  onmousewheel="return false;"
                  name="valorEntrada"
                  formControlName="valorEntrada"
                  placeholder="R$ 15.000,00"
                />
                <label for="valorParcela">Valor Parcela: <b>*</b></label>
                <input
                  type="number"
                  onmousewheel="return false;"
                  name="valorParcela"
                  formControlName="valorParcela"
                  placeholder="R$ 15.000,00"
                />
                <button type="button" (click)="removeTipologia(idx)">
                  <fa-icon [icon]="faTrash"></fa-icon>
                </button>
              </div>
            </div>
            <button type="button" (click)="addTipologia()">
              <fa-icon [icon]="faPlusSquare"></fa-icon> Tipologia
            </button>
          </div>

          <div class="form-campo">
            <label for="statusImovel">Status do imóvel <strong style="color: red">*</strong></label>
            <select name="statusImovel" formControlName="statusImovel">
              <option value="">Selecione...</option>
              <option value="Pronto para Morar">Pronto para Morar</option>
              <option value="Entrega em Breve">Entrega em Breve</option>
              <option value="Pronto para Construir">Pronto para Construir</option>
              <option value="Lançamento">Lançamento</option>
              <option value="Entregue">Entregue</option>
            </select>
            <div
              *ngIf="getControl.statusImovel.touched && getControl.statusImovel.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.statusImovel.errors?.required">Campo obrigatório</div>
            </div>
          </div>

          <div class="form-campo">
            <label for="aceitaPermuta">Aceita permuta? </label>
            <input
              type="checkbox"
              name="aceitaPermuta"
              formControlName="aceitaPermuta"
              value="false"
            />
          </div>

          <div class="form-campo">
            <label for="mobiliado">Mobiliado? </label>
            <input type="checkbox" name="mobiliado" formControlName="mobiliado" value="false" />
          </div>

          <div class="form-campo">
            <label for="valorImovel">Valor do imóvel: <strong style="color: red">*</strong></label>
            <input
              type="number"
              onmousewheel="return false;"
              name="valorImovel"
              formControlName="valorImovel"
              placeholder="R$ 1.500.000,00"
            />
            <div
              *ngIf="getControl.valorImovel.touched && getControl.valorImovel.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.valorImovel.errors?.required">
                Valor do imóvel é obrigatório
              </div>
              <div *ngIf="getControl.valorImovel.errors?.min">
                Valor do imóvel não pode ser menor do que R$ 0,00
              </div>
            </div>
          </div>

          <div class="form-campo">
            <label for="valorIPTU">Valor do IPTU: <strong style="color: red">*</strong></label>
            <input
              type="number"
              onmousewheel="return false;"
              name="valorIPTU"
              formControlName="valorIPTU"
              placeholder="R$ 400,45"
            />
            <div
              *ngIf="getControl.valorIPTU.touched && getControl.valorIPTU.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.valorIPTU.errors?.required">Valor do IPTU é obrigatório</div>
              <div *ngIf="getControl.valorIPTU.errors?.min">
                Valor do IPTU não pode ser menor do que R$ 0,00
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="valorCondominio"
              >Valor do condomínio: <strong style="color: red">*</strong></label
            >
            <input
              type="number"
              onmousewheel="return false;"
              name="valorCondominio"
              formControlName="valorCondominio"
              placeholder="R$ 1.500,13"
            />
            <div
              *ngIf="getControl.valorCondominio.touched && getControl.valorCondominio.invalid"
              class="text-danger"
            >
              <div *ngIf="getControl.valorCondominio.errors?.min">
                Valor do condomínio não pode ser menor do que R$ 0,00
              </div>
            </div>
          </div>
          <div class="form-campo">
            <label for="inagensAdicionais"
              >Adicionar mais Fotos: <strong style="color: red">*</strong></label
            >
            <div>
              <input type="file" multiple (change)="selectFilesImagensAdicionais($event)" />
            </div>
            <div>
              <button
                type="button"
                [disabled]="!selectedFilesImgsAdicionais"
                (click)="uploadFilesImagensAdicionais()"
              >
                Upload
              </button>
            </div>
            <div *ngFor="let progressInfo of progressInfosImgsAdicionais">
              <span>{{ progressInfo.fileName }}</span>
              <div class="progress">
                <div
                  class="progress-bar progress-bar-info progress-bar-striped"
                  role="progressbar"
                  attr.aria-valuenow="{{ progressInfo.value }}"
                  aria-valuemin="0"
                  aria-valuemax="100"
                  [ngStyle]="{ width: progressInfo.value + '%' }"
                >
                  {{ progressInfo.value }}%
                </div>
              </div>
            </div>
            <div *ngFor="let img of plusImgs">
              <img src="{{ img }}" width="300px" srcset="{{img}}" />
              <button type="button" (click)="deletaImagensAdicionais(img)">
                <fa-icon [icon]="faTrash"></fa-icon>
              </button>
            </div>
          </div>
          <div>
            <button [disabled]="!imovelForm.valid" type="submit">Enviar Dados</button>
          </div>
          <input type="reset" value="Limpar o formulário" (click)="this.limpaArrayImgs()" />
        </div>
      </form>
    </div>
  </div>
</div>
