.admin {
  width: 100%;
  height: 100%;
  min-height: 100vh;
  display: flex;
  background: url(../../../assets/linhas.webp) no-repeat fixed bottom / 100% auto, #272727;

  * {
      color: #fff;
  }

  .barAdmin {
      height: 100vh;
      display: flex;
      flex-direction: column;
      padding: 20px;
      position: sticky;
      top: 0;

      .logoAdmin {
          padding-bottom: 20px;

          img {
              width: 60px;
              height: 60px;
          }
      }

      .menuAdmin {
          display: flex;
          justify-content: center;
          align-items: center;
          margin-top: 50px;

          .itensMenuAdmin {

          }
      }
  }

  .conteudoAdmin {
      width: 100%;
      padding: 0 20px 20px;

      .cabecalhoConteudoAdmin {
          padding: 20px;
          position: sticky;
          top: 0px;
          z-index: 1;
          background: url(../../../assets/linhas.webp) no-repeat fixed bottom / 100% auto, #272727;

          .itensCabecalhoConteudoAdmin:first-child {
              margin-left: 50px;
          }

          .itensCabecalhoConteudoAdmin {
              height: 60px;
              display: flex;
              align-items: center;

              a {
                  display: flex;
                  align-items: center;
                  
                  fa-icon {
                      margin-left: 10px;
                  }
              }
          }
      }

      .infoConteudoAdmin {
          margin: 50px;
          padding: 50px;
          background: inherit;
          backdrop-filter: blur(10px);
          box-shadow: inset 0 0 0 1000px rgba(255,255,255,0.01), 0 0 50px rgba(0,0,0,0.1);
      }
  }
}