<div class="admin">
  <div class="barAdmin">
    <div class="logoAdmin">
      <img src="../../assets/logo-reduce.svg" alt="Portifólio Imóveis" title="Portifólio Imóveis" />
      <div class="menuMobile">
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -67 341.628 341">
          <g fill="#fff">
            <path
              d="m331.628906 208.132812h-321.628906c-5.523438 0-10-4.476562-10-10 0-5.523437 4.476562-10 10-10h321.628906c5.523438 0 10 4.476563 10 10 0 5.523438-4.476562 10-10 10zm0 0"
            />
            <path
              d="m331.628906 114.222656h-321.628906c-5.523438 0-10-4.476562-10-10 0-5.523437 4.476562-10 10-10h321.628906c5.523438 0 10 4.476563 10 10 0 5.523438-4.476562 10-10 10zm0 0"
            />
            <path
              d="m331.628906 20.3125h-321.628906c-5.523438 0-10-4.476562-10-10 0-5.519531 4.476562-10 10-10h321.628906c5.523438 0 10 4.480469 10 10 0 5.523438-4.476562 10-10 10zm0 0"
            />
          </g>
        </svg>
      </div>
    </div>
    <div class="menuAdmin">
      <div class="menu">
        <a [routerLink]="['./']" routerLinkActive="router-link-active">
          <p>painel</p>
        </a>
        <a [routerLink]="['./']" routerLinkActive="router-link-active">
          <div [innerHTML]='imoveis'></div><p>imóveis</p>
        </a>
        <a [routerLink]="['./biblioteca']" routerLinkActive="router-link-active">
          <p>imagens</p>
        </a>
        <a [routerLink]="['./leads']" routerLinkActive="router-link-active">
          <p>leads</p>
        </a>
        <a [routerLink]="['./posts']" routerLinkActive="router-link-active">
          <p>posts</p>
        </a>
      </div>
      <div class="footerBarra">
        <a [routerLink]="['']" routerLinkActive="router-link-active" (click)="logout()">
          <p>SAIR</p>
        </a>
      </div>
    </div>
  </div>
  <div class="conteudoAdmin">
    <router-outlet></router-outlet>
  </div>
</div>
