.formulario {
  form {
    display: flex;
    .imgPrin {
      width: 100%;
      .caixaImagem {
        width: 100%;
        height: 150px;
        display: flex;
        justify-content: center;
        position: relative;
        border: 1px #fff2 dashed;

        div[id^='complemento'] {
          width: 100%;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          z-index: 5;
        }
        svg {
          width: 100%;
          height: 100%;
          padding: 24px;
          position: absolute;
          top: 0;
          left: 0;
          opacity: 0.5;
        }
        img[src=''] {
          display: none;
        }
        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          position: absolute;
          top: 0;
          left: 0;
        }
      }

      .acoes {
        .progress {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .deletar {
            width: 24px;
            height: 38px;
            margin: 24px 12px 12px 24px;
          }
          p {
            width: 50%;
            text-overflow: ellipsis;
            overflow-x: hidden;
            white-space: nowrap;
          }
        }
      }
    }

    .titulo {
      font-size: 2.5em;
    }

    .subtitulo {
      font-weight: 200;
      font-size: 1.75em;
    }

    .imgPrin {
      .caixaImagem {
        min-height: 300px;
      }
    }

    .categoria{
      margin-top: 12px;
    }

    .categoria, .tag{
      margin-bottom: 48px;
      textarea{
        height: auto;
        padding: 12px 0;
      }
    }

    .esquerda {
      width: calc(100% - 250px);
      padding: 24px;
      padding-right: 48px;
      border-right: 1px solid #fff1;
    }
    .direita {
      width: 250px;
      height: fit-content;
      padding: 24px;
      position: sticky;
      top: 90px;
    }
  }
}
