.submenu {
  .uploadArquivo {
    display: none;
  }
  .iconeUpload {
    width: 36px;
    padding: 6px;
    cursor: pointer;
    .icone {
      width: 36px;
      padding: 6px;
    }
  }
}
.RouterOutlet {
  .infoConteudoAdmin {
    display: flex;
    .biblioteca {
      padding: 12px;
      display: flex;
      flex-wrap: wrap;
      .itemBiblioteca {
        width: 175px;
        padding: 12px;
        .imagem {
          width: 100%;
          height: 100px;
          margin-bottom: 12px;
          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
          video {
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .acoes {
          display: flex;
          align-items: center;
          justify-content: space-between;
          .icone {
            width: 36px;
            padding: 6px;
            margin-left: 6px;
            cursor: pointer;
          }
          .excluir {
            padding: 6px;
            margin-left: 6px;
            cursor: pointer;
          }
        }
      }
    }
    .itensUpload {
      display: flex;
      justify-content: space-between;
      .nomeUpload {
        ::ng-deep p {
          font-weight: 200;
        }
      }
    }
    .uploadImagem {
      label {
        width: 100%;
        display: block;
        padding: 6px;
        margin-bottom: 12px;
        text-align: center;
        border: 1px solid #fff5;
      }
      .up {
        width: 100%;
        padding: 6px;
        background: #db0423;
        transition: 0.4s ease;
        &[disabled] {
          background: #fff5;
          transition: 0.2s ease;
        }
      }
    }
    .esquerda {
      width: calc(100% - 250px);
      padding: 24px;
      padding-right: 48px;
      border-right: 1px solid #fff1;
    }
    .direita {
      width: 250px;
      height: fit-content;
      padding: 24px;
      position: sticky;
      top: 90px;
    }
  }
}

.circuloProgresso {
  width: 36px;
  padding: 6px;
  path {
    transition: stroke-dashoffset 0.4s ease;
    &.true {
      stroke: #0f05;
    }
    &.false {
      stroke: #f005;
    }
  }
}
