<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">

      <a [routerLink]="['/admin/leads']" routerLinkActive="router-link-active">
        <h2>Biblioteca</h2>
      </a>
      <div class="submenu">
        <div class="">
          <input id="uploadArquivo" type="file" multiple (change)="selectFiles($event)" />
          <label for="uploadArquivo">
            adsfasdfasdfdf
          </label>
        </div>
        <div>
          <button class="" [disabled]="!selectedFiles" (click)="uploadFiles()">Upload</button>
        </div>
        <div *ngFor="let progressInfo of progressInfos">
          <span>{{ progressInfo.fileName }}</span>
          <div class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped" role="progressbar"
              attr.aria-valuenow="{{ progressInfo.value }}" aria-valuemin="0" aria-valuemax="100"
              [ngStyle]="{ width: progressInfo.value + '%' }">
              {{ progressInfo.value }}%
            </div>
          </div>
        </div>
        <div *ngIf="message.length" class="alert alert-secondary my-3" role="alert">
          <ul *ngFor="let msg of message; let i = index">
            <li>{{ msg }}</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="infoConteudoAdmin">
    <div class="biblioteca">
      <div class="itemBiblioteca"
        *ngFor="let midia of midias | paginate: { id: 'server', itemsPerPage: 10, currentPage: p }">
        <div class="imagem"><img src="{{ url }}{{ midia }}" alt="" title="" /></div>
        <p><b>URL: </b>{{ url }}{{ midia }}</p>
        <button type="button" (click)="deletaImagem(midia)">X</button>
      </div>
    </div>
    <div class="paginacao">
      <pagination-controls class="controle" id="server" [autoHide]="true" nextLabel="Próx." previousLabel="Voltar"
        (pageChange)="p = $event"></pagination-controls>
    </div>
    <div *ngIf="loading">Carregando...</div>
    <div *ngIf="error">Erro :(</div>
  </div>
</div>