<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">
      <a [routerLink]="['/admin/posts']" routerLinkActive="router-link-active">
        <h2>Imóveis</h2>
      </a>
      <div class="submenu">   
        <a [routerLink]="['/admin/criar-imovel']" routerLinkActive="router-link-active">
          Novo Imóvel
        </a>    
      </div>
    </div>
  </div>
  <header class="topo">
    <div class="caminho">
        <p><a [routerLink]="['/admin/']">início</a> > <a [routerLink]="['/admin/imoveis/']">imóveis</a>
        </p>
    </div>
</header>
  <div class="infoConteudoAdmin">
    <div class="tabelalinhaItem">
      <table class="tabelaItens">
        <thead class="tabelaItensHeader">
          <tr>
            <th [appSort]="imoveis" data-order="desc" data-name="imovelId">ID</th>
            <th [appSort]="imoveis" data-order="desc" data-name="categoriaImovel">Imagem</th>
            <th [appSort]="imoveis" data-order="desc" data-name="categoriaImovel">Categoria</th>
            <th [appSort]="imoveis" data-order="desc" data-name="bairro">Bairro</th>
            <th [appSort]="imoveis" data-order="desc" data-name="valorImovel">Valor</th>
            <th [appSort]="imoveis" data-order="desc" data-name="valorImovel">Status</th>
            <th [appSort]="imoveis" data-order="desc" data-name="updatedAt">Criado/Atualizado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="tabelaItensCorpo" *ngIf="imoveis">
          <tr class="tabelalinhaItem imoveis" *ngFor="
              let imovel of imoveis
                | paginate
                  : { id: 'server', itemsPerPage: 9, currentPage: p, totalItems: imoveis.length }
            ">
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.imovelId }}
              </a>
            </td>
            <td>
              <a class="imagem" routerLink="/admin/imovel/{{imovel._id}}">
                <img src="{{ imovel.imagemPrincipal }}" alt="" />
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.categoriaImovel }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.bairro }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.valorImovel | currency: 'BRL' }}
              </a>
            </td>
            <td>
              <select
                name="statusLancamento"
                (change)="atualizaStatus(imovel._id, $event)"
                [value]="imovel.statusLancamento"
                [ngClass]="imovel.statusLancamento === 'aprovado' ? 'aprovado' : imovel.statusLancamento === 'reprovado' ? 'reprovado': 'pendente'"
              >
                <option value="pendente">Pendente</option>
                <option value="reprovado">Reprovado</option>
                <option value="aprovado">Aprovado</option>
              </select>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.updatedAt | date: 'dd/MM/yyyy - HH:mm' }}
              </a>
            </td>
            <td>
              <button (click)="editarImovel(imovel._id)">
                <div class="icone" [innerHtml]="iconeEditar"></div>
              </button>
              <button (click)="remover(imovel._id)">
                <div class="icone" [innerHtml]="iconeExcluir"></div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paginacao">
        <pagination-controls class="controle" id="server" [autoHide]="true" previousLabel="<" nextLabel=">"
          [maxSize]="7" (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="loading">Carregando...</div>
      <div *ngIf="error">Erro :(</div>
    </div>
  </div>
</div>