<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">
      <a [routerLink]="['/admin/criar-imovel']" routerLinkActive="router-link-active">
        <h2>Imóveis</h2>
      </a>
      <a [routerLink]="['/admin/criar-imovel']" routerLinkActive="router-link-active">
        <p>Criar Imovel</p>
      </a>
      <a [routerLink]="['/admin/criar-imovel']" routerLinkActive="router-link-active">
        <p>Aprovar</p>
      </a>
    </div>
  </div>
  <div class="estatisticas">
    <div class="estatistica">
      <h3>Quant. imóveis</h3>
      <p>{{imoveis.length}}</p>
    </div>
    <div class="estatistica">
      <h3>Aprovados</h3>
      <p>{{imoveis.length}}</p>
    </div>
    <div class="estatistica">
      <h3>Não aprovados</h3>
      <p>{{imoveis.length}}</p>
    </div>
  </div>
  <div class="infoConteudoAdmin">
    <div class="tabelalinhaItem">
      <table class="tabelaItens">
        <thead class="tabelaItensHeader">
          <tr>
            <th [appSort]="imoveis" data-order="desc" data-name="imovelId">ID</th>
            <th [appSort]="imoveis" data-order="desc" data-name="categoriaImovel">Categoria</th>
            <th [appSort]="imoveis" data-order="desc" data-name="bairro">Bairro</th>
            <th [appSort]="imoveis" data-order="desc" data-name="valorImovel">Valor</th>
            <th [appSort]="imoveis" data-order="desc" data-name="updatedAt">Criado/Atualizado</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody class="tabelaItensCorpo" *ngIf="imoveis">
          <tr class="tabelalinhaItem" *ngFor="
              let imovel of imoveis
                | paginate
                  : { id: 'server', itemsPerPage: 9, currentPage: p, totalItems: imoveis.length }
            ">
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.imovelId }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.categoriaImovel }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.bairro }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.valorImovel | currency: 'BRL' }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/imovel/{{imovel._id}}">
                {{ imovel.updatedAt | date: 'dd/MMM/yyyy - HH:mm' }}
              </a>
            </td>
            <td>
              <button (click)="editarImovel(imovel._id)">
                <svg viewBox="0 0 24 24" fill="none">
                  <path d="M3 21L12 21H21" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M12.2218 5.82839L15.0503 2.99996L20 7.94971L17.1716 10.7781M12.2218 5.82839L6.61522 11.435C6.42769 11.6225 6.32233 11.8769 6.32233 12.1421L6.32233 16.6776L10.8579 16.6776C11.1231 16.6776 11.3774 16.5723 11.565 16.3847L17.1716 10.7781M12.2218 5.82839L17.1716 10.7781"
                    stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                </svg>
              </button>
              <button (click)="remover(imovel._id)">
                <svg viewBox="0 0 24 24" fill="none">
                  <path d="M8.99219 13H11.9922H14.9922" stroke="currentColor" stroke-width="1.5" stroke-linecap="round"
                    stroke-linejoin="round" />
                  <path
                    d="M3.03919 4.2939C3.01449 4.10866 3.0791 3.92338 3.23133 3.81499C3.9272 3.31953 6.3142 2 12 2C17.6858 2 20.0728 3.31952 20.7687 3.81499C20.9209 3.92338 20.9855 4.10866 20.9608 4.2939L19.2616 17.0378C19.0968 18.2744 18.3644 19.3632 17.2813 19.9821L16.9614 20.1649C13.8871 21.9217 10.1129 21.9217 7.03861 20.1649L6.71873 19.9821C5.6356 19.3632 4.90325 18.2744 4.73838 17.0378L3.03919 4.2939Z"
                    stroke="currentColor" stroke-width="1.5" />
                  <path d="M3 5C5.57143 7.66666 18.4286 7.66662 21 5" stroke="currentColor" stroke-width="1.5" />
                </svg>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paginacao">
        <pagination-controls class="controle" id="server" [autoHide]="true" nextLabel="Próx." previousLabel="Voltar"
          (pageChange)="p = $event"></pagination-controls>
      </div>
      <div *ngIf="loading">Carregando...</div>
      <div *ngIf="error">Erro :(</div>
    </div>
  </div>
</div>