<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">
      <a
        [routerLink]="['/admin/criar-imovel']"
        routerLinkActive="router-link-active"
      >
        Criar Imovel
        <fa-icon [icon]="faPlusSquare"></fa-icon>
      </a>
    </div>
  </div>
  <div class="infoConteudoAdmin">
    <div class="tabelalinhaImovel">
      <table class="tabelaImoveis">
        <thead class="tabelaImoveisHeader">
          <th>ID Imóvel</th>
          <th>Categoria</th>
          <th>Valor</th>
          <th>Criado</th>
          <th>Atualização</th>
          <th></th>
          <th></th>
        </thead>
        <tbody class="tabelaImoveisCorpo" *ngIf="imoveis">
          <tr class="tabelalinhaImovel" *ngFor="let imovel of imoveis">
            <td>{{ imovel._id }}</td>
            <td>{{ imovel.categoriaImovel }}</td>
            <td>{{ imovel.valorImovel | currency: 'BRL' }}</td>
            <td>{{ imovel.createdAt | date: 'dd/MMM/yyyy - HH:mm' }}</td>
            <td>{{ imovel.updatedAt | date: 'dd/MMM/yyyy - HH:mm' }}</td>
            <td>
              <button (click)="goToImovel(imovel._id)">
                <fa-icon [icon]="faEye" size="2x"></fa-icon>
              </button>
            </td>
            <td>
              <button (click)="remover(imovel._id)">
                <fa-icon [icon]="faTrashAlt" size="2x"></fa-icon>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      
      <div *ngIf="loading">Carregando...</div>
      <div *ngIf="error">Erro :(</div>
    </div>
  </div>
</div>
