<div class="formulario">
        <form name="form" (ngSubmit)="onSubmit()" #f="ngForm">
          <div class="form-campo">
            <label for="nomeGaleria"
              >Nome da galeria de imagens:
              <strong style="color: red">*</strong></label
            >
            <input
              type="text"
              name="nomeGaleria"
              [(ngModel)]="form.nomeGaleria"
              #nomeGaleria="ngModel"
              placeholder="Nome único"
              value=""
              required
            />
          </div>
          <div class="form-campo">
            <label for="url"
              >Imagens: <strong style="color: red">*</strong></label
            >
            <textarea
              name="url"
              cols="40"
              rows="10"
              [(ngModel)]="form.url"
              #url="ngModel"
              placeholder="URL das imagens aqui"
              required
            ></textarea>
          </div>
          <div class="form-campo">
            <label for="idImovel"
              >Imoveis atrelados a essa galeria:
              <strong style="color: red">*</strong></label
            >
            <textarea
              name="idImovel"
              cols="40"
              rows="10"
              [(ngModel)]="form.idImovel"
              #idImovel="ngModel"
              placeholder="Por hora, insira os ID's dos imóveis aqui."
              required
            ></textarea>
            <div>
              <button type="submit">Enviar Dados</button>
            </div>
          </div>
        </form>
</div>
