@import url('https://fonts.googleapis.com/css2?family=Karla:wght@200;300;400;500;600;700;800&display=swap');

* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-family: Karla;
}

a {
  color: #272727;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color: #ececec;
    background-color: #2a2a2e;
  }
  p,
  a {
    color: white;
    text-decoration: none;
  }
}

.content {
  display: flex;
  margin: 32px auto;
  padding: 0 16px;
  max-width: 960vw;
  flex-direction: column;
  align-items: center;
}
