<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">
      <a
        class="temporario"
        [routerLink]="['/admin/galerias']"
        routerLinkActive="router-link-active"
      >
        Galerias
        <fa-icon [icon]="faImage"></fa-icon>
      </a>

      <input #fileInput class="fileUpload" type="file" (change)="upload($event)" />
    </div>
  </div>
  <div class="infoConteudoAdmin">
    <div class="tabelalinhaImovel" *ngFor="let midia of midias">
      <img src="{{ midia }}" width="200" height="auto" alt="" title="" />
      <p><b>URL: </b> {{ midia }}</p>
    </div>
    <div *ngIf="loading">Carregando...</div>
    <div *ngIf="error">Erro :(</div>
  </div>
</div>
