<div class="RouterOutlet">
  <div class="cabecalhoConteudoAdmin">
    <div class="itensCabecalhoConteudoAdmin">
      <a [routerLink]="['/admin/posts']" routerLinkActive="router-link-active">
        <h2>Publicações</h2>
      </a>
      <div class="submenu">
        <a [routerLink]="['/admin/criar-post']" routerLinkActive="router-link-active">
          Novo Post
        </a>
      </div>
    </div>
  </div>
  <header class="topo">
    <div class="caminho">
      <p>
        <a [routerLink]="['/admin/']">início</a> > <a [routerLink]="['/admin/posts/']">posts</a>
      </p>
    </div>
  </header>
  <div class="infoConteudoAdmin">
    <div class="tabelalinhaItem">
      <table class="tabelaItens">
        <thead class="tabelaItensHeader">
          <th [appSort]="posts" data-order="desc" data-name="postId">ID</th>
          <th [appSort]="posts" data-order="desc" data-name="titulo">Título</th>
          <th [appSort]="posts" data-order="desc" data-name="updatedAt">Criado / Atualizado</th>
          <th [appSort]="posts" data-order="desc" data-name="post.status">Publicado</th>
          <th>Ações</th>
        </thead>
        <tbody class="tabelaItensCorpo" *ngIf="posts">
          <tr
            class="tabelalinhaItem"
            *ngFor="let post of posts | paginate: { id: 'server', itemsPerPage: 9, currentPage: p }"
          >
            <td>
              <a routerLink="/admin/post/{{ post._id }}">
                {{ post.postId }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/post/{{ post._id }}">
                {{ post.titulo | truncate: 4:20:'...' }}
              </a>
            </td>
            <td>
              <a routerLink="/admin/post/{{ post._id }}">
                {{ post.updatedAt | date: 'dd/MM/yyyy - HH:mm' }}
              </a>
            </td>
            <td>
              <input
                id="statusPost-{{ post.postId }}"
                type="checkbox"
                [checked]="post.status === 'publicado' ? true : false"
                (change)="atualizaStatus(post._id, $event)"
              />
              <label
                for="statusPost-{{ post.postId }}"
                [class]="post.status === 'publicado' ? 'publicar ativo' : 'publicar'"
              >
                <div class="chave"></div>
              </label>
            </td>
            <td>
              <button (click)="editarPost(post._id)">
                <div class="icone" [innerHtml]="iconeEditar"></div>
              </button>
              <button (click)="remover(post._id)">
                <div class="icone" [innerHtml]="iconeExcluir"></div>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <div class="paginacao">
        <pagination-controls
          class="controle"
          id="server"
          [autoHide]="false"
          previousLabel="Voltar"
          nextLabel="Próx."
          (pageChange)="p = $event"
          [maxSize]="7"
        ></pagination-controls>
      </div>
      <div *ngIf="loading">Carregando...</div>
      <div *ngIf="error">Erro :(</div>
    </div>
  </div>
</div>
